@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");

body {
  background-color: #eff3f0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.screen {
  max-width: 1020px;
  align-items: flex-start;
  border: 1px none;
  display: flex;
  padding: 0 0x;
  width: 100%;
  position: relative;
}


.login {
  width: 100%;
  right: 7%;
}

/* .hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
} */

.overlap-group1 {
  display: flex;
  flex-direction: column;
  background-color: var(--envy);
  padding: 3vh;
  padding-top: 17%;
  margin-top: 2%;
  margin-right: 10%;
  border-radius: 5px;
  width: 100%;
}


.overlap-group {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 4px solid;
  border-color: var(--envy);
  min-height: 0%;
  margin-top: 2%;
  padding: 8vh;
  padding-bottom: 23%;
  border-radius: 5px;
}

td {

  width: 100%;
}

.login-1,
.username,
.password {
  margin-left: 0px;
  margin-bottom: 1%;
}

.password {
  margin-top: 50px;
}


input[type="text"],
input[type="password"] {
  width: 100%;
  font-size: var(--font-size-l);
  padding: 10px;
  margin-top: 3%;
  border-radius: 3px;
  border-color: var(--envy);
}

.password {
  margin-top: 50px;
}

.overlap-group-container {
  display: flex;
  justify-content: space-between;
}

.login-1 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  color: var(--envy);
  margin-top: 0px;
}

.button-login {
  background-color: var(--envy);
  position: relative;
  margin-left: -20px;
  margin-top: 10px;
}

button {
  color: white;
}

button {
  display: flexbox;
  width: 50%;
  margin-top: 0 px;
  margin-bottom: 20px;
  border-radius: 5px;
  /* background: transparent; */
  color: var(--white);
  border-color: var(--envy);
}


button:hover {
  background-color: rgb(76, 94, 82);
  transform: translateY(1px);
}

button:active {
  transform: translateY(2.5px);
}

label .test {
  font-style: normal;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 24px;
}

.overlap-group-contrainer {
  position: static;
  margin-top: 10%;
  margin-left: 5%;
}

.overlap-group2 {
  width: 100%;
}


h1,
.wel-come {
  color: var(--white);
  margin-right: 50px;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 100%;
  letter-spacing: px;
  word-spacing: px;
  line-height: 60%;
  display: inline-block;
  /* atau display: block */
}

p,
.how-are-you {
  margin-bottom: 25%;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);

}

@media only screen and (max-width: 768px) {
  /* For mobile: */

  .screen {
    display: ;
    border: 1px solid black;
    height: 100px;
    width: 200px;
  }

  body {
    background-color: #eff3f0;
    display: block;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  table {
    display: block;
  }

  .overlap-group1 {
    background-color: var(--envy);
    display: block;
    flex-direction: column;
    padding: 7%;
    margin-top: 10%;
    min-height: 0%;
    border-radius: 5px;
    width: 100%;
  }

  .overlap-group {
    background-color: var(--white);
    display: block;
    flex-direction: column;
    border: 4px solid;
    border-color: var(--envy);
    margin-top: 10%;
    min-height: 0%;
    padding: 7%;
    border-radius: 5px;
    width: 100%;
  }


}