@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('../img/Login4.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.screen {
  max-width: 50%;
  align-items: center;
  justify-content: center;
  border: 1px none;
  display: flexbox;
  padding: 30% 50%;
  width: 100%;
  position: relative;
  left: -50%;
}

.login {
  width: 100%;
  right: 7%;
}

.overlap-group1 {
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  padding: 3vh;
  padding-top: 4%;
  margin-right: 10%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.overlap-group {
  background-color: var(--white);
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 110%;
  outline: 5px solid;
  outline-color: var(--orange);
  min-height: 100%;
  /* margin-top: %; */
  padding: 2vh;
  padding-top: 25%;
  padding-bottom: 30%;
  padding-right: 50%;
  border-radius: 5px;
  height: 100%;
}

.gabung {
  height: 100%;
}

.overlap-group2 {
  height: 100%;
}

.username,
.password {
  height: 100%;
}

.login-1,
.username,
.password {
  position: relative;
  margin-right: 0px;
  margin-bottom: 1%;
}

.password {
  margin-top: 0px;
}


input[type="text"],
input[type="password"] {
  width: 130%;
  position: relative;
  font-size: var(--font-size-m);
  padding: 10px;
  margin-top: 3%;
  border-radius: 3px;
  border-color: var(--orange);
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  color: rgb(25, 25, 99);
}

.overlap-group-container {
  display: flex;
  justify-content: space-between;
}

.login-1 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  color: var(--gravel);
  top: 50%;
}

.button-login {
  background-color: var(--black);
  position: relative;
  margin-left: -10px;
  cursor: pointer;
}

button {
  color: white;
}

button {
  display: flexbox;
  width: 50%;
  margin-top: px;
  margin-bottom: 10px;
  border-radius: 5px;
  /* background: transparent; */
  color: var(--white);
  border-color: var(--white);
}


button:hover {
  background-color: rgb(76, 94, 82);
  transform: translateY(1px);
}

button:active {
  transform: translateY(2.5px);
}

label .test {
  font-style: normal;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 24px;
}

.overlap-group-contrainer {
  position: static;
  margin-left: 5%;
}

.overlap-group2 {
  width: 100%;
}


h1,
.wel-come {
  color: var(--white);
  margin-right: 80px;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 100%;
  letter-spacing: 20px;
  word-spacing: 40px;
  line-height: 100%;
  display: inline-block;
  /* atau display: block */
}

p,
.how-are-you {
  margin-top: 20.7%;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);

}