:root {
    --black: rgba(0, 0, 0, 1);
    --gravel: rgba(71, 71, 71, 1);
    --envy: rgba(143, 169, 152, 1);
    --white: rgba(255, 255, 255, 1);
    --orange: #F7B801;

    /* Change font size values */
    --font-size-m: calc(18px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
    --font-size-l: calc(28px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    --font-size-xl: calc(38px + (32 - 24) * ((100vw - 320px) / (1920 - 320)));
    --font-size-xxl: calc(94px + (64 - 48) * ((100vw - 320px) / (1920 - 320)));

    --font-family-poppins: "Poppins", sans-serif;
}

.all-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poppins-normal-envy-16px {
    color: var(--gravel);
    font-size: var(--font-size-m);
    font-weight: 400;
    /* Change font weight to regular */
    font-style: normal;
}

.poppins-normal-gravel-16px {
    color: var(--white);
    font-size: var(--font-size-m);
    font-weight: 400;
    /* Change font weight to regular */
    font-style: normal;
}