@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");
body{
    background-color:#eff3f0;
}
.screen {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    height: 990px;
    padding: 0 270px;
    width: 60%;
    position: absolute;
    top: 85px;
    left: 6%;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

td .overlap-group1 {
    align-items: flex-start;
    background-color: var(--envy);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10%;
    margin-left: -40%;
    min-height: 0%;
    padding: 5% ;
    border-radius: 5px;
    width: 100% ;
}

.overlap-group {
    align-items: flex-start;
    background-color: var(--white);
    border: 5px solid;
    border-color:var(--envy) ;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 30%;
    min-height: 39%;
    padding: 0% ;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    width: 110%;
    height: 0%;
}

.username, .password{
    padding-top: 3%;
    margin-left: 10px;
}

.overlap-group-container {
    display: ;
    justify-content: space-between;
 }
 
 td .overlap-group1,
td  .overlap-group {
    width: %; /* ubah lebar sesuai kebutuhan */
 }
 

input[type=text],input[type=password]{
    width: 70%;
    font-size: var(--font-size-l);
    padding: 10px;
    margin-left: 15px;
    border-radius: 3px;
    border-color: var(--envy);
   
}
.login-1{
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    color: var(--envy);
    margin-top: 30px;
    margin-left: 20px;
}

.button-login{
    background-color: var(--envy);
    position: static;
    margin-left: 40px; 
}

button{
    display: flexbox;
    width: 170px;
    margin-top: 20px;
    margin-bottom :20px ;
    border-radius: 5px;
    background: transparent;
    border-color: var(--envy);
}
label .test{
    font-style: normal;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1px;
    min-height: 24px;
}
.overlap-group-contrainer{
    position: static;
    margin-top: 10%;
    margin-left: 5%;
}
.overlap-group2{
    width: 100%;
}
h1 {
    color: var(--white);
    margin-right: 50px;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxl);
    font-weight: 600px;
    letter-spacing: 0;
    line-height: 110px;
}

p{
    margin-bottom: -10px;
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
}